extends ../../layouts/common
block content
  h1 Create User
  if errors
    each error in errors
      p.alert.alert-danger= error

  form(action="/users/create", method="POST", enctype="multipart/form-data")
    .form-group 
      label(for="name") Name
      input.form-control(type="text", name="name", id="name",value=values?values.name:"")
    .form-group 
      label(for="phone") Phone
      input.form-control(type="text", name="phone", id="phone",value=values?values.phone:"")
    .form-group 
      label(for="avatar") Avatar
      input.form-control-file(type="file", name="avatar", id="avatar")
    button.btn.btn-success.mt-3 Create